<div class="container p-5" *ngIf="VisibleTable">
  <div class="border border-ligth rounded p-5">
    <button type="button" class="btn btn-sm btn-primary m-3" (click)="ShowCadastro()">
      <h5>Adicionar</h5>
    </button>
    <hr>

    <p-table #TbColaborador [columns]="cols" [value]="colaboradores" [paginator]="true" [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Exibindo de {first} à {last} de {totalRecords} Registros"
      [rowsPerPageOptions]="[10,25,50]" [reorderableColumns]="true" responsiveLayout="scroll" selectionMode="single"
      styleClass="p-datatable-sm" sortMode="multiple">

      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="TbColaborador.filterGlobal($event.target.value, 'contains')"
              placeholder="Buscar Nome" />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate='header' let-columns let-rowData>
        <tr>
          <th></th>
          <th *ngFor="let col of cols" pReorderableColumn [pSortableColumn]="col.field">
            {{col.header}}<p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th pReorderableColumn pSortableColumn="telefone">Telefone<p-sortIcon field="telefone"></p-sortIcon>
          </th>
          <th pReorderableColumn pSortableColumn="nascimento">Aniversario</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr [pReorderableRow]="index" [pSelectableRow]="rowData">
          <div class="avatar">
            <strong>
              {{rowData.nome.substring(0,1).toUpperCase()}}
            </strong>
          </div>
          <td *ngFor="let col of cols">
            {{rowData[col.field]}}
          </td>
          <td>
            {{ '(' + rowData.telefone.substring(0,2) + ') '
            + rowData.telefone.substring(2,3)
            + ' ' + rowData.telefone.substring(3,7)
            + '-' + rowData.telefone.substring(7,11)}}
          </td>
          <td>
            {{DateCalc(rowData.nascimento)}}
          </td>
          <td class="Center">
            <button type="button" class="btn btn-sm btn-outline-success mx-1"
              (click)="ShowData(rowData.id)">Dados</button>
            <button type="button" class="btn btn-sm btn-outline-info mx-1" (click)="Edit(rowData.id)">Editar</button>
            <button type="button" class="btn btn-sm btn-outline-danger mx-1"
              (click)="ModalDelete(rowData.nome, rowData.id, DeletModal)">Excluir</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="ShowCadastro()"></p-button>
      </ng-template>
    </p-table>

  </div>
</div>



<hr>
<br>
<div class="container p-5" *ngIf="VisisbleNew">
  <div class="row">
    <div class="col-6 border-light rounded p-5 shadow" *ngIf="formulario">
      <h5>{{titulo}}</h5>
      <hr>
      <form [formGroup]="formulario" (ngSubmit)="Send()">
        <div class="form-goup m-0 under">
          <label for="CPF">Cpf:</label>
          <input type="text" class="form-control form-control-sm" formControlName="CPF" mask="000.000.000-00" required>
        </div>

        <div class="form-goup m-0">
          <label for="NOME">Nome:</label>
          <input type="text" class="form-control form-control-sm" formControlName="NOME" required>
        </div>

        <div class="form-goup m-0">
          <label for="NOME_MAE">Nome da Mãe:</label>
          <input type="text" class="form-control form-control-sm" formControlName="NOME_MAE" required>
        </div>

        <div class="form-goup">
          <label for="NOME_PAI">Nome do Pai:</label>
          <input type="text" class="form-control form-control-sm" formControlName="NOME_PAI" required>
        </div>

        <div class="form-goup m-0">
          <label for="EMAIL">Email:</label>
          <input type="email" class="form-control form-control-sm" formControlName="EMAIL" required>
        </div>

        <div class="form-goup m-0">
          <label for="TELEFONE">Telefone para Contato:</label>
          <input type="text" class="form-control form-control-sm" formControlName="TELEFONE" mask="(00) 0 0000-0000"
            required>
        </div>

        <div class="form-goup m-0">
          <label for="NASCIMENTO">Data de Nascimento:</label>
          <input type="date" class="form-control form-control-sm" formControlName="NASCIMENTO" required>
        </div>

        <div class="container m-2">
          <div class="row">
            <button type="submit" class="btn btn-outline-primary px-2 my-2">Salvar</button>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-outline-secondary px-2 my-2" (click)="Back()">Voltar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #DeletModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Exclusão?</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Deseja Realmente excluir {{nomeColaborador}} ?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modalRef?.hide()">Voltar</button>
    <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
      (click)="Delete(IdColaborador)">Excluir</button>
  </div>
</ng-template>

<div class="container p-5" *ngIf="VisisbleData">
  <div class="row">
    <div class="col-6 border-light rounded p-5 shadow">
      <h5>Dados do Colaborador</h5>
      <hr>
      <div class="avatar2">
        <strong>
          {{colaborador_nome.substring(0,1).toUpperCase()}}
        </strong>
      </div>
      <p><strong>Nome: </strong>{{colaborador_nome}}</p>
      <p><strong>Data de Nascimento: </strong>
        {{colaborador_data.substring(8,10) + '/' + colaborador_data.substring(5,7) + '/' +
        colaborador_data.substring(0,4)}}</p>
      <p><strong>CPF: </strong>{{colaborador_cpf.substring(0,3)
        + '.' + colaborador_cpf.substring(3,6)
        + '.' + colaborador_cpf.substring(6,9)
        + '-' + colaborador_cpf.substring(9,11)}}</p>
      <p><strong>Nome da Mãe: </strong>{{colaborador_mae}}</p>
      <p><strong>Nome do Pai: </strong>{{colaborador_pai}}</p>
      <p><strong>Email: </strong>{{colaborador_email}}</p>
      <p><strong>Telefone: </strong>{{'(' + colaborador_telefone.substring(0,2) + ') '
        + colaborador_telefone.substring(2,3)
        + ' ' + colaborador_telefone.substring(3,7)
        + '-' + colaborador_telefone.substring(7,11)}}</p>
      <div class="container m-2">
        <div class="row">
          <button type="button" class="btn btn-outline-secondary px-2 my-2" (click)="Back()">Voltar</button>
        </div>
      </div>
    </div>
  </div>
</div>
