.avatar {
  border-radius: 100%;
  background-color: rgb(67, 136, 226);
  color: white;
  padding: 1px;
  margin: 1px;
  align-items: center;
  text-align: center;
  border: blue;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  padding-top: 5%;
}

.avatar2 {
  border-radius: 100%;
  background-color: rgb(67, 136, 226);
  color: white;
  padding: 1px;
  margin: 1px;
  align-items: center;
  text-align: center;
  border: blue;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  padding-top: 1%;
  margin: 0.5px;
}

.center {
  align-items: center;
  text-align: center;
}
